@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    font-size: 15px;
    overflow-x: hidden;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 2% 1%;
}
header{
    text-align: center;
}
main{
    display: flex;
    justify-content: space-between;
}
main .box{
    width: 49%;
    padding: 2%;
}
.personal label{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
}
.personal input{
    width: 75%;
    height: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 7px;
}
.personal select{
    padding: 7px 15px;
    margin-bottom: 20px;
    font-size: 15px;
}


.professional label{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
}
.professional input{
    width: 75%;
    height: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 7px;
}
.professional button{
    padding: 7px 15px;
    background-color: skyblue;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s background;
}
.professional button:hover{
    background-color: blue;
}