*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    overflow-x: hidden;
    background-color: #fafafa;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2% 1%;
}
/* header start */
header{
    text-align: center;
}
header h1{
   font-size: 2rem;
   text-decoration: underline;
}
/* header ends */

/* main start */
main{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}


.address{
    margin-top: 10px;
}
.address p{
    line-height:20px;
}

.experience{
    margin-top: 10px;
}
.experience p{
    line-height:20px;
}

.contact{
    margin-top: 10px;
    line-height: 20px;
}
.objective{
    margin-top:25px;
}
.objective p{
    margin-top: 10px;
}
.education{
    margin-top: 25px;
}
.education p{
    margin-top: 5px;

}
.technical-skills{
    margin-top: 25px;
}
.technical-skills p{
    margin-top: 5px;
}
.personal-details{
    margin-top: 25px;
    line-height: 25px;
}
.declaration{
    margin-top: 25px;
}
.signature{
    text-align: right;
    margin-top: 30px;
}
/* main ends */

.mar1{
    margin-right: 4px;
}
.mar2{
    margin-right: 76px;
}
.mar3{
    margin-right: 7px;
}
.mar4{
    margin-right: 53px;
}
.mar5{
    margin-right: 34px;
}